[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "~=1.4.2"
rich = "~=12.4.4"
scipy = "~=1.8.1"
funcy = "~=1.17"
matplotlib = "*"
gitpython = "*"

[dev-packages]

[requires]
python_version = "3.9"
